@use "mixins";

.about {
  display: flex;
  max-width: 65%;
  max-height: 100%;

  .fade-animation-container {
    position: relative;
    z-index: 1;
  }

  .about-text-container {
    display: flex;
    align-items: flex-end;
    max-height: 100%;

    p {
      margin-block-start: 2em;
      margin-block-end: 2em;
    }

    p:last-child {
      margin-block-end: 0;
    }
  }

  .about-text {
    font-size: 16px;
    z-index: 1;
    position: relative;
    display: inline-block;
    max-height: 75vh;
    overflow-y: auto;
  }
}

@media (max-width: 1000px) {
  .about {
    max-width: 80%;

    .about-text-container {
      p {
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
      }
    }
  }
}

@include mixins.media-breakpoint-down(md) {
  .about {
    max-width: 100%;

    .about-text-container {
      p {
        margin-block-start: 1em;
        margin-block-end: 1em;
      }
    }
  }
}