@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content
  }
}