@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content
  }
}

@mixin set-color($text: "", $background: "") {
  @if $text != "" {
    color: $text;
  }

  @if $background != "" {
    background-color: $background;
  }

  transition:
    color ease-in-out 0.15s,
    background-color ease-in-out 0.15s,
    border-color ease-in-out 0.15s;
}