@use "mixins";

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-image {
  width: 100%;
  height: 80vh;
  display: flex;

  * {
    flex-grow: 1;
    display: flex;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    float: left;
    flex-grow: 1;
  }
}

.project-item {
  .project-item-nr-mobile {
    display: none;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  .project-tag {
    padding: .2em .5em;
    border: 1px solid var(--text-color-muted);
  }
}

.project-title {
  margin-bottom: 1rem;
}

.project-content {
  p {
    max-width: 55%;
  }
}

@include mixins.media-breakpoint-down(xl) {
  .project-content {
    p {
      max-width: 70%;
    }
  }
}

@include mixins.media-breakpoint-down(lg) {
  .project-content {
    p {
      max-width: 80%;
    }
  }
}

@include mixins.media-breakpoint-down(md) {
  .project-item-nr {
    display: none;
  }

  .project-item {
    .project-item-nr-mobile {
      display: block;
      color: var(--text-color-muted);
      font-weight: normal;
      margin-top: -5px;
      margin-left: -15px;
      margin-bottom: -8px;
    }
  }

  .project-content {
    p {
      max-width: none;
    }
  }
}