@use "mixins";
@use "variables";

// Desktop:
$show-project-list-items: 5;
$project-list-item-height: calc(3rem * 1.4 + 10px);
$project-list-items-height: calc($project-list-item-height * $show-project-list-items);
$project-list-padding: calc(100vh - variables.$console-controls-height - $project-list-items-height - variables.$app-padding);

// Tablet:
$show-project-list-items-tablet: 5;
$project-list-item-height-tablet: calc(2.5rem * 1.4 + 10px);
$project-list-items-height-tablet: calc($project-list-item-height-tablet * $show-project-list-items-tablet);
$project-list-padding-tablet: calc(100vh - variables.$console-controls-height-tablet - $project-list-items-height-tablet - variables.$app-padding);

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: $project-list-padding;
}

.project-image {
  width: 100%;
  height: 80vh;
  display: flex;

  * {
    flex-grow: 1;
    display: flex;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    float: left;
    flex-grow: 1;
  }
}

.project-item {
  .project-item-nr-mobile {
    display: none;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  .project-tag {
    padding: .2em .5em;
    border: 1px solid var(--text-color-muted);
    @include mixins.set-color($text: var(--text-color));
  }
}

.project-title {
  margin-bottom: 1rem;
}

.project-content {
  .fade-animation-container {
    width: 100%;
  }

  p {
    max-width: 55%;
  }
}

@include mixins.media-breakpoint-down(xl) {
  .projects {
    padding-top: $project-list-padding-tablet;
  }

  .project-content {
    p {
      max-width: 70%;
    }
  }
}

@include mixins.media-breakpoint-down(lg) {
  .project-content {
    p {
      max-width: 80%;
    }
  }
}

@include mixins.media-breakpoint-down(md) {
  .projects {
    padding-top: 25vh;
    padding-bottom: variables.$app-padding
  }

  .project-item-nr {
    display: none;
  }

  .project-item {
    .project-item-nr-mobile {
      @include mixins.set-color($text: var(--text-color-muted));
      display: block;
      font-weight: normal;
      margin-top: -5px;
      margin-left: -15px;
      margin-bottom: -8px;
    }
  }

  .project-content {
    p {
      max-width: none;
    }
  }
}