:root {
  --text-color: #f2efe9;
  --text-color-highlight: #82f7d3;
  --text-color-link: #89cff0;
  --text-color-link-hover: rgba(137, 207, 240, 0.75);
  --text-color-muted: #383838;
  --background-color: #0b0b0b;
  --caret-color: rgba(242, 239, 233, 0.75);
}
