
.theme-powershell {
    --text-color: rgb(238, 237, 240);
    --text-color-highlight: rgb(255, 255, 20);
    --text-color-link: rgb(255, 255, 20);
    --text-color-link-hover: rgb(255, 255, 20);
    --text-color-muted: rgba(238, 237, 240, 0.25);
    --background-color: rgb(1, 36, 86);
    --caret-color: rgb(255, 255, 20);
    --controls-background-color: rgb(1, 36, 86);

    .console-input-wrapper {
        .console-input-text {
            color: var(--text-color-highlight);
        }
    }
}
