@keyframes background-bg {
    0% {background-color: darken(#CCCC52, 20%);}
    5.9% {background-color: darken(#A3CC52, 20%);}
    11% {background-color: darken(#7ACC52, 20%);}
    16.5% {background-color: darken(#52CC52, 20%);}
    22% {background-color: darken(#52CC7A, 20%);}
    27.5% {background-color: darken(#52CCA3, 20%);}
    33% {background-color: darken(#00CCCC, 20%);}
    38.5% {background-color: darken(#29A3CC, 20%);}
    44% {background-color: darken(#297ACC, 20%);}
    49.5% {background-color: darken(#527ACC, 20%);}
    55% {background-color: darken(#7A7ACC, 20%);}
    60.5% {background-color: darken(#A352CC, 20%);}
    66% {background-color: darken(#CC52CC, 20%);}
    71.5% {background-color: darken(#CC52A3, 20%);}
    77% {background-color: darken(#CC527A, 20%);}
    82.5% {background-color: darken(#CC5252, 20%);}
    88% {background-color: darken(#CC7A52, 20%);}
    93.5% {background-color: darken(#CCA352, 20%);}
    100% {background-color: darken(#CCCC52, 20%);}
}

.theme-pride {
    --text-color: #f2efe9;
    --text-color-highlight: rgba(208, 205, 200, 0.25);
    --text-color-link: #f2efe9;
    --text-color-link-hover: #f2efe9;
    --text-color-muted: rgba(208, 205, 200, 0.25);
    --background-color: #0b0b0b;
    --caret-color: rgba(242, 239, 233, 0.75);
    
    -webkit-animation: background-bg 55s infinite;
    animation: background-bg 55s infinite;

    .modal { 
        -webkit-animation: background-bg 55s infinite;
        animation: background-bg 55s infinite;
    }
}
