.theme-light {
    --text-color: #0B0B0B;
    --text-color-highlight: #ff5b4d;
    --text-color-link: #034773;
    --text-color-link-hover: rgba(3, 71, 115, 0.75);
    --text-color-muted: rgba(208, 205, 200);
    --background-color: #F2EFE9;
    --caret-color: #0B0B0B;
}
