@keyframes background-bg {
    0% {background-color: darken(#CCCC52, 20%);}
    5.9% {background-color: darken(#A3CC52, 20%);}
    11% {background-color: darken(#7ACC52, 20%);}
    16.5% {background-color: darken(#52CC52, 20%);}
    22% {background-color: darken(#52CC7A, 20%);}
    27.5% {background-color: darken(#52CCA3, 20%);}
    33% {background-color: darken(#00CCCC, 20%);}
    38.5% {background-color: darken(#29A3CC, 20%);}
    44% {background-color: darken(#297ACC, 20%);}
    49.5% {background-color: darken(#527ACC, 20%);}
    55% {background-color: darken(#7A7ACC, 20%);}
    60.5% {background-color: darken(#A352CC, 20%);}
    66% {background-color: darken(#CC52CC, 20%);}
    71.5% {background-color: darken(#CC52A3, 20%);}
    77% {background-color: darken(#CC527A, 20%);}
    82.5% {background-color: darken(#CC5252, 20%);}
    88% {background-color: darken(#CC7A52, 20%);}
    93.5% {background-color: darken(#CCA352, 20%);}
    100% {background-color: darken(#CCCC52, 20%);}
}

$color-background: #0B0B0B;
$color-text: #F2EFE9;
$color-muted: rgba(208, 205, 200, 0.25);
$color-highlight: rgba(208, 205, 200, 0.25);

.theme-pride {
    
    background-color: $color-background;
    -webkit-animation: background-bg 55s infinite;
    animation: background-bg 55s infinite;
    color: $color-text;
    font-weight: 200;

    .large-text,
    .written-text-visible,
    .project-item-nr,
    .block-button,
    .email-at,
    .about-text,
    .about-text p,
    .about-text p b {
        color: $color-text;
    }

    .console-input-wrapper {

        .console-input-placeholder {
            .written-text-visible {
                color: $color-muted;
            }
        }

        .console-input .console-input-suffix .console-input-autocomplete {
            color: $color-muted;
        }
    }

    .console-menu-wrapper {

        .console-menu {

            .console-menu-item {
                
                &.console-menu-item-active {
                    .highlighted-word {
                        color: $color-muted;
                    }
                }

                &:hover:not(.console-menu-item-active) {
                    .highlighted-word {
                        color: $color-highlight;
                    }
                }
            }
        }
    }

    .console-menu-mobile-wrapper {
        
        .console-menu-mobile {

            .console-menu-item {
                
                &:hover {
                    .highlighted-word {
                        color: $color-highlight;
                    }
                }
            }
        }

        .console-menu-handle .console-menu-handle-line {
            background-color: $color-text;
        }
    }

    .console-input-caret {
        background-color: $color-text;
    }

    span.name {
        border-color: $color-text;
        color: $color-text;
    }

    .slide-animation-container {

        .slide-animation-bg {
            background-color: $color-text;
            color: $color-background;
            
            .block-button,
            .project-item-nr,
            .email-at {
                color: $color-background;
            }
        }
    
        .slide-animation-content {
            color: $color-text;
        }
    }

    .socials {

        .social-item {
            color: $color-text;
        }
    
        .social-item:hover {
            color: $color-highlight;
        }

        .social-tooltip {
            background-color: transparent;
            color: $color-text;
        }
    }

    .console-menu-item:hover:not(.console-menu-item-active) .highlighted-word {
        color: $color-highlight;
    }

    .highlighted-word-container .highlighted-word {
        color: $color-text;
    }

    .project-item {
        .project-item-nr-mobile {
            color: $color-muted;
        }
    }

    
    .modal { 
        background-color: $color-background;
        -webkit-animation: background-bg 55s infinite;
        animation: background-bg 55s infinite;
    }

    .project-modal {
        .project-modal-employer {
            color: $color-muted;
        }

        .modal-close-container {
            .modal-close {
                .modal-close-line {
                    background-color: $color-text;
                }
            }
        }
    }
}
